@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px; }

h4 {
  font-weight: 700; }

h5 {
  color: #876a5f;
  font-weight: 700; }

.division {
  margin-bottom: 40px; }

.h5-title {
  color: #c57e87 !important; }

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
  display: none; }

::-webkit-scrollbar {
  width: 10px;
  height: 18px; }

ÔÇï
::-webkit-scrollbar-track-piece {
  background-color: #aabbcc; }

::-webkit-scrollbar-thumb:vertical {
  height: 20px;
  background-color: #c57e87;
  border-radius: 5px; }

.divider {
  border: 2px solid #c57e87;
  color: #c57e87;
  border-radius: 2px;
  margin-bottom: 10px; }

section, footer {
  margin-bottom: 90px; }

header img {
  width: 55px; }

.nav-a {
  background-color: #c57e87; }
  .nav-a a {
    font-size: 1.2em;
    color: #ffffff; }

.nav-logo {
  margin-left: 3px;
  padding: 4px 2px 2px;
  height: 60px; }

.logo {
  background-image: url(../img/fondo2.jpeg);
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 90vh; }
  .logo .imagen {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding-top: 12%; }
  .logo__name {
    font-family: "Pacifico", "Josefin Sans", sans-serif;
    font-size: 80px;
    color: #c57e87; }
  .logo__description {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    color: #c57e87;
    font-weight: 700; }

.carousel a {
  font-size: 18px; }

.tecAbilities__imge {
  padding-right: 35px; }
  .tecAbilities__imge img {
    width: 10%; }
.tecAbilities__img {
  padding-right: 14px; }
  .tecAbilities__img img {
    width: 15%; }
.tecAbilities__imga {
  padding-right: 20px; }
  .tecAbilities__imga img {
    width: 25%; }

.myAbilities__img {
  padding-right: 35px !important; }
  .myAbilities__img img {
    width: 25% !important; }

.proyecto__img {
  border: 2px solid darkgray;
  display: flex;
  justify-content: center;
  padding-bottom: 20px; }
  .proyecto__img img {
    width: 100%; }
.proyecto__texto {
  padding-bottom: 20px;
  padding-left: 30px; }
  .proyecto__texto div {
    margin-top: 20px; }

#contactame {
  padding-bottom: 40px; }
  #contactame .row {
    margin-bottom: 0; }

.contactameContainer__datos p {
  margin-bottom: 20px; }
.contactameContainer__cv {
  margin-bottom: 20px; }
  .contactameContainer__cv a {
    color: black;
    font-size: 35px;
    padding: 10px; }

footer {
  background-color: #c57e87;
  padding: 20px 0; }
  footer p {
    color: #ffffff; }

@media only screen and (max-device-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px; }

  .logo__name {
    font-size: 70px; }

  h3 {
    font-size: 1.3rem; }

  h4 {
    font-size: 1.1rem; }

  .row .col {
    padding: 0; } }
@media only screen and (max-device-width: 992px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px; }

  .logo__name {
    font-size: 70px; }

  h3 {
    font-size: 1.3rem; }

  h4 {
    font-size: 1.1rem; }

  .row .col {
    padding: 0; } }

/*# sourceMappingURL=main.css.map */
