$blanco: #ffffff;
$celeste: rgba(203, 212, 219, 0.4);
$morado: rgb(197, 126, 135);
$lilaClaro: #cdc5ba;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

h4{
	font-weight: 700;
}
h5{
	color: #876a5f;
  font-weight: 700;
}

.division{
  margin-bottom: 40px;
}

.h5-title{
  color: $morado !important;
}

@media only screen and (max-device-width: 768px){
	.division{
	  margin-bottom: 0;
	}
}	

@media only screen and (max-device-width: 992px){
	.division{
	  margin-bottom: 0;
	}
}
