// #81cacc;
//#319ea7
//#cdc5ba;

@import "variables";
@import "scroll";


.divider{
  border: 2px solid $morado;
  color: rgb(197, 126, 135);
  border-radius: 2px;
  margin-bottom: 10px;
  // width: 40%;
}
section, footer{
  margin-bottom: 90px;
}
header{
  img{
    width: 55px;
  }
}

.nav-a{
  background-color: $morado;
  a{
    font-size: 1.2em;
    color: #ffffff;
  }
}

.nav-logo{
  margin-left: 3px;
  padding: 4px 2px 2px;
  height: 60px;
}

.logo{
  background-image: url(../img/fondo2.jpeg);
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 90vh;
  .imagen{
    background-color: rgba(0,0,0,0.5);
    // background-attachment: fixed;
    // background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-top: 12%;
  }
  &__name{
    font-family: "Pacifico", "Josefin Sans", sans-serif;
    font-size: 80px;
    color: $morado;
  }
  &__description{
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    // color: #e8dfd3;
    color: $morado;
    font-weight: 700;
  }
}
.sobremi, #contactame{
  // background-color: $celeste;

}
 .carousel{
    // background-color: #319ea7;
    a{
      font-size: 18px;
    }
  }

.tecAbilities{
   &__imge{
    padding-right: 35px;
    img{
      width: 10%;
    }
  }
  &__img{
    padding-right: 14px;
    img{
      width: 15%;
    }
  }
  &__imga{
    padding-right: 20px;
    img{
      width: 25%;
    }
  }
}
.myAbilities{
  &__img{
    padding-right: 35px;
    img{
        width: 25%;
    }
  }
}
.proyecto{
  &__img{
    border: 2px solid darkgray;
    // height: 80px;
    // width: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    img{
      width: 100%;
    }
  }
  &__texto{
    padding-bottom: 20px;
    padding-left: 30px;
    div{
      margin-top: 20px;
    }
  }
}
#contactame{
  padding-bottom: 40px;
  .row{
    margin-bottom: 0;
  }
}

.contactameContainer{
  &__datos{
    p{
      margin-bottom: 20px;
    }
  }
  &__cv{
    margin-bottom: 20px;
    a{
      color: black;
      font-size: 35px;
      padding: 10px;
    }
  }
}

footer{
  background-color: $morado;
  padding: 20px 0;
  p{
    color: #ffffff;
  }
}

@media only screen and (max-device-width: 768px){
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
  }

  .logo{
    &__name{
      font-size: 70px;
    }
  }
  h3{
    font-size: 1.3rem;
  }
  h4{
    font-size: 1.1rem;
  }
  .row .col{
    padding: 0;
  }
}

@media only screen and (max-device-width: 992px){
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
  }
  .logo{
    &__name{
      font-size: 70px;
    }
  }
  h3{
    font-size: 1.3rem;
  }
  h4{
    font-size: 1.1rem;
  }
  .row .col{
    padding: 0;
  }
}
